<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#" data-icon="star" class="ui-btn-active">FoodStore</a></li>
            <li><a href="#" data-icon="location">Near You</a></li>
            <li><a href="#" data-icon="user">Users</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->