<!DOCTYPE html>
<html>

<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->


  <script src="/dependencies/jquery.min.js"></script>
  <script src="/dependencies/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
      <%- body %>
      



    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

            <!--SCRIPTS-->
            <script src="/dependencies/sails.io.js"></script>
            <script src="/dependencies/jquery.min.js"></script>
            <script src="/dependencies/jquery.mobile-1.4.5.min.js"></script>
            <script src="/dependencies/lodash.js"></script>
            <script src="/js/auth/auth.js"></script>
            <script src="/js/feed/stories.js"></script>
            <script src="/js/layout.js"></script>
            <!--SCRIPTS END-->
</body>

</html>
