<div data-role="page" id="home">
  <div data-role="panel" id="mypanel" data-position="left" data-display="push">
    <!-- panel content goes here -->
  </div>
  <div data-role="header" data-position="fixed">
    <a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all">Back</a>
    <h4>HOME</h4>
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#" data-icon="star" class="ui-btn-active">All Stories</a>
        </li>
        <li>
          <a href="#" data-icon="location">Near Me</a>
        </li>
        <li>
          <a href="#" data-icon="user">Following</a>
        </li>
      </ul>
    </div>
  </div>
  <div role="main" class="ui-content">
        <a href="#mypanel">Open panel</a>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#" data-icon="star" class="ui-btn-active">Feed</a>
        </li>
        <li>
          <a href="#" data-icon="location">Logs</a>
        </li>
        <li>
          <a href="#" data-icon="user">Explore</a>
        </li>
        <li>
          <a href="#" data-icon="user">Activities</a>
        </li>
      </ul>
    </div>
  </div>
</div>
