<div data-role="header" data-position="fixed" data-theme="a">
    <div class="ui-btn-left">
        <a href="#sidebar" data-icon="star" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-bars ui-shadow ui-corner-all">Back</a>
    </div>
    <h4 class="ui-title" role="heading">HOME</h4>

    <div data-role="navbar">
        <ul>
            <li>
                <a href="#" data-icon="star" class="ui-btn-active">All Stories</a>
            </li>
            <li>
                <a href="#" data-icon="location">Near Me</a>
            </li>
            <li>
                <a href="#" data-icon="user">Following</a>
            </li>
        </ul>
    </div>
</div>
<div data-role="page" id="home">
    <div role="main" class="ui-content">
        <ul data-role="listview" id="userlist">
            
        </ul>
    </div>
</div>
<div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
        <ul>
            <li>
                <a href="#" data-icon="star" class="ui-btn-active">Feed</a>
            </li>
            <li>
                <a href="#" data-icon="location">Logs</a>
            </li>
            <li>
                <a href="#" data-icon="user">Explore</a>
            </li>
            <li>
                <a href="#" data-icon="user">Activities</a>
            </li>
        </ul>
    </div>
</div>

<div data-role="panel" id="sidebar" data-position="left" data-display="push" data-theme="a">
    asdsa
</div>
