<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->


<a href="/auth/facebook" class="ui-btn" rel="external" data-ajax="false">Login with facebook</a>

